.header{
  position:fixed;
  width:100%;
  background: orange;
  font-family: 'Roboto', sans-serif;
}

h1{
  color:white;
  /*outline: dotted 1px black;*/
  font-family: 'Roboto', sans-serif;

}

#blog-title{
  color:white;
    /*outline:solid 2px red;*/
}

#blog-date{
  color:white;
  /*outline:solid 2px red;*/
}


.nav {
  list-style: none;
  /*outline:dotted 1px orange;*/
}

.main-nav{
  display:inline-block;
  float:right;
  /*border: solid 1px blue;*/
}

#articles{
  /*outline: dotted 1px green;*/
}


div{
  /*outline:dotted 1px red;*/
}

main{

  margin-top: 100px;
  background: grey;

}

li{
  list-style: none;
}

#display{
  background: red;
  /*outline: solid 4px blue;*/
}

#article-container{
  /*outline:dotted 1px red;*/
}

#about-container{
background:white;
/*position: relative;*/
}
#content-container{
  position:relative;
  background: yellow;
}


img{
  max-width: 100%;
}

@media only screen and (min-width:640px){
.icon-menu2{
  display:none;
  color:red;
}


}
