
body{
  font-family: 'Roboto', sans-serif;
}

.marquee {
  font-size: .75em;
  font-family: 'Roboto', sans-serif;
  color:white;

}
/*article {
  display: none;

}*/
#header{
  /*float:right;*/
  /*position:fixed;*/
  height:100px;
  width:300px;
  /*border:solid 1px black;*/
  background: rgba(107,120,156,0.35);
}

a{
    text-decoration: none;
    font-size:1em;
    color:white;

}

.main-nav{
  display:inline-block;
  margin-top:25px;
  margin-right:10px;
  float:right;
}


.feature-template{
  margin-top:25px;
  display:inline-block;
  height:200px;
  overflow: auto;
  width:300px;
  /*border:solid 1px black;*/
  background: rgba(107,120,156,0.5);
    color:white;

}
