header{
    font-family: 'Roboto', sans-serif;
}


p{

  font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Roboto', sans-serif;
}

address{
  display:inline-block;

}
li{
  list-style: none;

}

h1, h2{
    font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 1.5em;
}

h2{
  font-size: 1em;
}

/*@media only screen and (min-width:640px){

}*/
